<%=form_with url: flights_path,method: :get do |form|%>
    <div class="search_box">
        <div class="original_location">
            <%=form.label :current_location%>  
            <%=form.collection_select :current_location,@airports,:id,:name%>              
        </div>

        <div class="desired_location">
            <%=form.label :desired_location%>
            <%=form.collection_select :desired_location,@airports.all,:id,:name%>
        </div>

        <div class="flight_dates">
            <%=form.label :flight_date%>
            <%=form.select :flight_date, options_for_select(@flights.distinct.pluck(:date))%>
        </div>

        <div class="nr_passagers">
            <%=form.label :passagers%>
            <%= form.number_field :passagers, max: 4, min: 1 ,value:1%>
        </div>

        <%=form.submit "Search Flights"%>
    </div>
<%end%>