<% stylesheet_link_tag "results_box" %>
<div class="content">
<%= form_with url: bookings_path, method: :post, local: true do |f| %>
  <div class="results_box">
    <% if @found_flights.present? %>
      <% @found_flights.each do |flightss| %>
        <div class="each_flight">
          <div class="radio_button"><%= f.radio_button :radio_btn,flightss.id %></div>
          <div class="departure_airport_name"><%= flightss.departure_airport.name %></div>
          <div class="arrival_airport_name"><%= flightss.arrival_airport.name %></div>
          <div class="flight_date"><%= flightss.date %></div>
          <div class="flight_passagers"><%= flightss.flight_duration %></div>
        </div>
      <% end %> 
    <div class="book_flight"><%= f.submit "Book Flight" %></div>
      
    <% else %>
      <% if flash[:same_location] %>
          <div class="same_location_warning"><%= flash[:same_location] %></div>
        <% elsif flash[:error] %>
          <div class="no_flight_warning"><%= flash[:error] %></div>
        <% end %>
    <% end %>
  </div>
<% end %>
</div>

