<div class="booking_passager_title">
    <h1>Welcome! Enter your name and email in order to book the flight: <%= @flight.departure_airport.name %>-<%= @flight.arrival_airport.name %>
</h1>
</div>

<div class="new_passager_form">
    <%= form_with model:@passager,method: :post do |f|%>

        <div class="username">
        <%= f.label :name %>
        <%= f.text_field :name %></div>

        <div class="email">
        <%= f.label :email %>
        <%= f.email_field :email %></div>

        <div class="submit_passager">
            <%= f.submit "Create Booking" %></div>
    <% end %>
</div>
