<div class="flight_details_box">
    <div class="greeting_message">
        <h1>Welcome! Enter your name and email in order to book the following flight:</h1>
    </div>

    <div class="departure_airport">Departure Airport: <%= @flight.departure_airport.name %></div>
    <div class="arrival_airport">Arrival Airport: <%= @flight.arrival_airport.name %></div>
    <div class="flight_date">Flight Date: <%= @flight.date %></div>
    <div class="flight_duration">Flight Duration: <%= @flight.flight_duration %> minutes</div>
</div>

<div class="new_passager_form">
    <%= form_with model:@passager,method: :post do |f|%>

        <div class="username">
        <%= f.label :name %>
        <%= f.text_field :name %></div>

        <div class="email">
        <%= f.label :email %>
        <%= f.email_field :email %></div>

        <div class="submit_passager">
            <%= f.submit "Create Booking" %></div>
    <% end %>
</div>
